node_modules
dist
netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css
# Local Netlify folder
.netlify
.idea/
.vercel
.cache
_site/
**/.DS_Store

# added by MasssiveJuice08 to test cloning the repo and pushing via Git
public
private/
.gitignore
.obsidian
